<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <div id="wrapper">
        <%- include('../partials/header') %>
        <%- include('../partials/navigation') %>

        <main>
            <% if (success && success.length) { %>
                <div class="notice">
                    <% success.forEach(msg=> { %>
                        <p>
                            <%= msg %>
                        </p>
                        <% }) %>
                </div>
            <% } %>
            
            <% if (error && error.length) { %>
                <div class="error-messages">
                    <% error.forEach(err=> { %>
                        <p class="error"><%= err %></p>
                    <% }) %>
                </div>
            <% } %>
            
            <%- body %>
        </main>

        <%- include('../partials/footer') %>
    </div>
</body>
</html>