<h1>Add Inventory Item</h1>
<% if(errors){ errors.forEach(err=> { %>
    <p class="error">
        <%= err %>
    </p>
    <% }) } %>
        <form action="/inv/add-inventory" method="post" novalidate>
            <label>Classification</label>
            <%- classificationList %>

                <label>Make</label>
                <input name="inv_make" type="text" required value="<%= values.inv_make || '' %>">

                <label>Model</label>
                <input name="inv_model" type="text" required value="<%= values.inv_model || '' %>">

                <label>Year</label>
                <input name="inv_year" type="number" required value="<%= values.inv_year || '' %>">

                <label>Description</label>
                <textarea name="inv_description" required><%= values.inv_description || '' %></textarea>

                <label>Image Path</label>
                <input name="inv_image" type="text" required
                    value="<%= values.inv_image || '/images/no-image-available.png' %>">

                <label>Thumbnail Path</label>
                <input name="inv_thumbnail" type="text" required
                    value="<%= values.inv_thumbnail || '/images/no-image-available-tn.png' %>">

                <label>Price</label>
                <input name="inv_price" type="number" step="0.01" required value="<%= values.inv_price || '' %>">

                <button type="submit">Add Inventory</button>
        </form>