<%# Vehicle Detail Page %>

    <h1 class="page-title">
        <%= title %>
    </h1>

    <section id="vehicle-detail">
        <figure class="vehicle-image">
            <img src="<%= vehicle.inv_image %>" alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>" />
        </figure>

        <div class="vehicle-info">
            <p><strong>Year:</strong>
                <%= vehicle.inv_year %>
            </p>
            <p><strong>Make:</strong>
                <%= vehicle.inv_make %>
            </p>
            <p><strong>Model:</strong>
                <%= vehicle.inv_model %>
            </p>
            <p><strong>Price:</strong> $<%= new Intl.NumberFormat('en-US').format(vehicle.inv_price) %>
            </p>
            <p><strong>Mileage:</strong>
                <%= new Intl.NumberFormat('en-US').format(vehicle.inv_miles) %> miles
            </p>
            <p><strong>Color:</strong>
                <%= vehicle.inv_color %>
            </p>
            <p><strong>Description:</strong>
                <%= vehicle.inv_description %>
            </p>
        </div>
    </section>